@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --cor-fundo: #000000;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #484955;
    --cor-destaque: #12a876;
    --cor-texto: #D7F9FF;
  }

body {
    font-family: "Oswald", sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-fundo);
    width: 90%;
    text-align: center;
    padding: 20px;
}
  
h1{
    font-size: 35px;
    color: var(--cor-destaque);

}

h1, .caixa-perguntas, .caixa-resultado {
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border: none;
    border-radius: 15px;
    padding: 19px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
}

.caixa-perguntas{
    color: var(--cor-texto); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.caixa-alternativas{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    font-size: 19px;
    border-radius: 16px;
}

.tela-inicial {
    font-size: 19px;
}

.caixa-resultado.mostar{
    display: block;
}

.iniciar-btn{
    margin-left: 47%;
    margin-top: 30px;
    padding: 18px;
    font-size: 15px;
    border-radius: 16px;
}

.novamente-btn{
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    align-items: center;
}

.texto-resultado{
    color: var(--cor-texto); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}